#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    height: 107px;
    border-bottom: 1px solid var(--gray10);
}

.logo_content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-list {
    display: flex;
    gap: 40px;


}

.nav-link {
    text-decoration: none;
    color: var(--textBlack);
}

.nav-item:last-child .nav-link {
    color: var(--mainGreen);
    font-weight: 800;
    font-size: 18px;
}

.logo_title {
    font-size: 32px;
    font-family: var(--fontOpensans);
    color: var(--textBlack);
    font-weight: 700;

}


.info {
    display: flex;
    padding: 46px 32px;
    align-items: center;
    gap: 37px;

}


.carusel_title {

    color: var(--textBlack);
    font-size: 70px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 80px;

}

.carusel_desc {
    color: var(--gray20);
    font-size: 24px;
    font-family: var(--fontOpensans);
    font-weight: 400;
    line-height: 32px;

}


.carusel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.info_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info_image,
.carusel {
    width: 50%;
}

.info_image img {
    width: 100%;
    height: 100%;
}

.btn {
    padding: 20px 24px;
    font-weight: 700;
    font-size: 18px;
    color: var(--mainWhite);
    border-radius: 8px;
    background-color: var(--mainGreen);
    transition: all 0.6s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}

.ham-btn {
    background-color: transparent;
    border: none;
    cursor: point;
    display: none;
}


.color_main {
    background-color: #F9F9F9;
}




.open {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 272px;
}


.open_h2 {
    color: var(--textBlack);
    font-size: 48px;
    font-family: var(--fontMain);
    font-weight: 800;
    line-height: 64px;

}

.open_desc {
    color: var(--textBlack);
    font-size: 18px;
    font-family: var(--fontMain);
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    text-align: center;



}


.cards {
    display: flex;
    gap: 15px;
    text-align: center;
    justify-content: center;

}

.info_card1 {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
}


.info1_card1 {
    display: flex;
    align-items: center;
    gap: 46px;
}


.card1 {
    width: 427px;
    height: 340px;

    margin-left: 56px;
    border-color: black;
    background-color: var(--mainWhite);
    padding: 64px;
    text-align: center;

}

.card1_title {
    color: var(--textBlack);
    font-size: 24px;
    font-family: var(--fontMain);
    font-weight: 700;
    line-height: 32px;

}


.card1_desc {
    color: var(--textBlack);
    font-size: 18px;
    font-family: var(--fontMain);
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 0 24px;

}

.card2 {
    width: 427px;
    height: 340px;
    background-color: var(--mainWhite);
    padding: 64px;



}

.card2_title {
    color: var(--textBlack);
    font-size: 24px;
    font-family: var(--fontMain);
    font-weight: 700;
    line-height: 32px;

}


.card2_info {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
}

.card2_desc {}


.card3 {
    background-color: var(--mainWhite);
    width: 427px;
    height: 340px;
    padding: 64px;


}


.card3_title {
    color: var(--textBlack);
    font-size: 24px;
    font-family: var(--fontMain);
    font-weight: 700;
    display: flex;
    justify-content: center;



}

.info_card3 {
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}